<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestor de Finanças</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <hr>
  <div class="dvCaixas">
    <div>
      <strong>Saldo total</strong><br>
      <%= valor_total %> R$
    </div> 

    <div>
      <strong>Receita</strong><br>
      <%= receitas %> R$
    </div> 

    <div>
      <strong>Despesas</strong><br>
      <%= despesas %> R$
    </div>
  </div> 
  
  <div class="dvSearch"> 
    <div>
      <form action="/buscar" method="GET">
        <input 
          type="text" 
          class="form-control" 
          name="tipo" 
          placeholder="Pesquisar..."
          value="<%= busca || '' %>">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </form>
    </div>
    <div>
      <a href="/adicionar" class="btn btn-primary">Adicionar</a>
    </div>
  </div>

  <div class="dvTabela">
    <table class="table table-bordered">
    <thead class="table-light">
      <tr>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if (dados.length > 0) { %>
        <% dados.forEach(item => { %>
        <tr>
        <td><%= item.tipo %></td>
        <td><%= item.valor %> R$</td>

        <td>
        <% if (item.status === 1) { %>
          <span class="badge bg-success">Receita</span>
          <% } else { %>
            <span class="badge bg-danger">Despesa</span>
            <% } %>
        </td>

        <td>
          <a href="/editar/<%= item.id %>" class="btn btn-warning btn-sm">Editar</a>
          <a href="/deletar/<%= item.id %>" class="btn btn-danger btn-sm">Excluir</a>
        </td>
        </tr>
        <% }) %>
      <% } else { %>
        <tr>
        <td colspan="4" class="text-center">Nenhum lançamento encontrado</td>
        </tr>
      <% } %>
    </tbody>
  </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>